pip>=24.0
setuptools>=69.0
wheel>=0.42
Flask==2.3.2
torch==2.5.0 # Эта версия должна быть OK
pandas==2.2.3 # Обновленная версия
numpy==1.26.4 # Обновленная версия, совместимая с Python 3.11 и PyTorch 2.5
scikit-learn==1.5.2 # Обновленная версия
gunicorn